*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
    background: transparent;
    font-family: "Roboto",sans-serif;
}

body{
    background-color: #2d388c;
    color: white;
    overflow: hidden;
    overflow-y: scroll;
}